.view_wrap {
    width: 1000px;
}
.view_container {
    float: left;
    width: 700px;
}
.view_box {
    width: 700px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer;
}
.view_header {
    text-align: left;
    width: 680px;
}
.view_lecture {
    font-size: 18px;
    font-weight: bold;
}
.view_professor {
    font-size: 12px;
    color: #4B4B4B;
}
.view_content {
    text-align: left;
    width: 680px;
    font-size: 12px;
    margin-top: 4px;
    color: #747474;
}
.view_content span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.view_content span pre {
    margin: 0;
}
.view_footer {
    text-align: left;
    width: 680px;
}
.view_footer span {
    font-size: 11px;
}
.view_time {
    color: #747474;
}
.view_name {
    margin-left: 5px;
}
.view_img {
    position: relative;
    top: 2px;
    width: 13px;
    height: 13px;
}
.view_status {
    float: right;
}
.view_comment {
    margin-left: 5px;
}
.nosearch {
    font-size: 18px;
    color: #747474;
    line-height: 80px;
    cursor: default;
}
.view_page {
    width: 700px;
    height: 40px;
}
.view_page_button {
    width: 70px;
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    border: 1px solid #6DA6FE;
    color: #6DA6FE;
    box-sizing: border-box;
    cursor: pointer;
}
.first {
    float: left;
}
.prev {
    float: left;
    margin-left: 5px;
}
.next {
    float: right;
}
.link_box {
    float: right;
    width: 270px;
    height: 150px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}
.univ_img {
    display: block;
    width: 200px;
    height: 80px;
    margin: 15px auto 5px auto;
}